<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :tumblr %>
    <%= form.text_field :tumblr %>
  </div>

  <div class="field">
    <%= form.label :instragram %>
    <%= form.text_field :instragram %>
  </div>

  <div class="field">
    <%= form.label :favourite_parks %>
    <%= form.text_area :favourite_parks %>
  </div>

  <div class="field">
    <%= form.label :desexed %>
    <%= form.check_box :desexed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
