<!DOCTYPE html>
<html>
  <head>
    <title>Wellingtonpets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style> body { background-color: lime; }
        h1 {text-shadow: 15px 15px cyan; font-size: 200px; font-family: "comic sans ms"; color: gold;}</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
